[Unit]
Description=Power Checker
After=postgresql.service
Wants=postgresql.service

[Service]
Type=simple
ExecStart=/root/power_outages_ina219/venv/bin/python3 /root/power_outages_ina219/power_checker.py
EnvironmentFile=/root/power_outages_ina219/env.txt

[Install]
WantedBy=multi-user.target